vi_hd.img
build/*
build_support/logs/*
*.o
*.bin
*.d
*.gz
afs.img
build.log
boot_drive.img
boot_drive.img.old
boot_drive.img.old.2
vi_hd.img.old
build_support/boot_files/limine/limine-bios.sys
build_support/blank_drive.img
build_support/blank_drive.img.MAIN
