build/*
build_support/logs/*
*.o
*.bin
*.d
*.gz
build.log
boot_drive.img.old
boot_drive.img.old.2
vi_hd.img.old
build_support/boot_files/limine/limine-bios.sys
build_support/blank_drive.img.MAIN
*.img
scratch/pathtest
