##################################
# Basics                         #
##################################

[memory]
size = "8G"

[accel]
accel = "kvm"

[device]
driver = "isa-debug-exit"
iobase = "0xf4"
iosize = "0x04"

##################################
# Loaders                        #
##################################



##################################
# Serial Ports                   #
##################################

[chardev]
id = "serial_port_4_file"
backend = "file"
path = "build_support/logs/serial_out.txt"

[device]
id = "serial_port_4"
driver = "isa-serial"
chardev = "serial_port_4_file"
iobase = "0x2e8"
irq = "4"

[chardev]
id = "serial_port_3_stdio"
backend = "stdio"

[device]
id = "serial_port_3"
driver = "isa-serial"
chardev = "serial_port_3_stdio"
iobase = "0x3e8"
irq = "4"

##################################
# Data Drives                    #
##################################

[drive]
id = "kernel_boot_drive"
file = "boot_drive.img"
format = "raw"
if = "none"

[drive]
id = "data_drive"
file = "asvfs_drive.img"
format = "raw"
if = "none"

[device]
driver = "ahci"
id = "ahci"

[device]
driver = "ide-hd"
drive = "kernel_boot_drive"
bus = "ahci.0"

[device]
driver = "ide-hd"
drive = "data_drive"
bus = "ahci.1"

##################################
# Network                        #
##################################

[netdev]
type = "user"
id = "private_net"
ipv6 = "off"
ipv4 = "on"
restrict = "off"

[device]
driver = "e1000"
netdev = "private_net"
mac = "12:34:56:78:9A:BC"

[object]
qom-type = "filter-dump"
id = "f1"
netdev = "private_net"
file = "build_support/logs/packets.dat"

##################################
# QEMU Monitor                   #
##################################

[chardev]
id = "mon1"
backend = "socket"
path = "build_support/logs/qmp_sock"
server = "on"
wait = "off"

[mon]
chardev = "mon1"
mode = "control"
pretty = "on"

[chardev]
id = "mon2"
backend = "socket"
host = "plato.marsdev.io"
port = "58005"
server = "on"
wait = "off"

[mon]
chardev = "mon2"
mode = "control"
pretty = "on"
